body {
    font-family: Verdana, sans-serif;
    background-color: powderblue;
}
h1 {
    color: rgb(59, 76, 202);
}
p {
    color: rgb(204, 0, 0);
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px;
}
.pokemon-grid div {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}