body {
    font-family: Verdana, sans-serif;
    background-color: powderblue;
}
h1 {
    color: rgb(59, 76, 202);
}
p {
    color: rgb(204, 0, 0);
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-bottom: 20px;
}
.pokemon-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
}
.pokemon-id {
    color: #999;
    margin-bottom: 5px;
}
.pokemon-photo img {
    width: 100px;
    height: 100px;
}
.pokemon-name {
    color:#333;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}