body {
    font-family: Verdana, sans-serif;
    background-color: powderblue;
}
h1 {
    color: rgb(59, 76, 202);
    text-align: center;
}
.subtitle {
    color: rgb(204, 0, 0);
    text-align: center;
}
.search-bar { /* update to a percentage-based width */
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-bottom: 20px;
}
.pokemon-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
}
.pokemon-id {
    color: #999;
    margin-bottom: 5px;
}
.pokemon-photo img {
    width: 100px;
    height: 100px;
}
.pokemon-name {
    color:#333;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}
.pokemon-types {
    margin-top: 10px;
}
.pokemon-type {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px 8px;
    border-radius: 12px;
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
    font-size: 0.75em;
}
.pokemon-type.bug {
    background-color: #a8b820;
}
.pokemon-type.dark {
    background-color: #705848;
}
.pokemon-type.dragon {
    background-color: #7038f8;
}
.pokemon-type.electric {
    background-color: #f8d030;
}
.pokemon-type.fairy {
    background-color: #ee99ac;
}
.pokemon-type.fighting {
    background-color: #c03028;
}
.pokemon-type.fire {
    background-color: #f08030;
}
.pokemon-type.flying {
    background-color: #a890f0;
}
.pokemon-type.ghost {
    background-color: #705898;
}
.pokemon-type.grass {
    background-color: #78c850;
}
.pokemon-type.ground {
    background-color: #e0c068;
}
.pokemon-type.ice {
    background-color: #98d8d8;
}
.pokemon-type.normal {
    background-color: #a8a878;
}
.pokemon-type.poison {
    background-color: #a040a0;
}
.pokemon-type.psychic {
    background-color: #f85888;
}
.pokemon-type.rock {
    background-color: #b8a038;
}
.pokemon-type.steel {
    background-color: #b8b8d0;
}
.pokemon-type.water {
    background-color: #76c7c0;
}